__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode

# pytest
.pytest_cache

# custom
backups
private
outputs
prova.py
temp.txt
temp.ipynb
main.ipynb
simulate_data.ipynb
dataframe.csv
dataframe_oneway.csv
dataframe_roundtrip.csv

# logging
logs/